<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block title %}
    {% endblock title %}
</head>
<body>
    <div class="ui left sidebar vertical huge menu" id="sidebar_menu">
        <a href="{% url 'logistics:account' %}" class="item" id="menu_account">
            {% block avatar %}
            {% endblock avatar %}
        </a>
        <a href="{% url 'logistics:home' %}" class="item" id="menu_home">
            總覽
        </a>
        <a href="{% url 'logistics:warehouse' %}" class="item" id="menu_warehouse">
            倉庫管理
        </a>
        <a href="{% url 'logistics:order' %}" class="item" id="menu_order">
            訂單管理
        </a>
        <a href="{% url 'logistics:delivery' %}" class="item" id="menu_delivery">
            出貨管理
        </a>
    </div>
    <div class="pusher" id="stick_to">
        <div class="ui fixed borderless menu">
            <div class="ui clearing segment" style="width: 100%">
                
                <div class="ui grid">
                    <div class="middle aligned row">
                        <div class="four wide left aligned column">
                            <i class="big bars icon" id="menu_icon"></i>
                            
                        </div>
                        <div class="eight wide center aligned column">
                            {% block header %}
                            {% endblock header %}
                        </div>
                        <div class="four wide right aligned computer tablet only column">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="z-index: 1; position: fixed; bottom: 30px; right: 20px;">
            {% block navi %}
            {% endblock navi %}
        </div>
        
        <div class="ui container" style="margin-top: 120px;">
            {% block content_container %}
            {% endblock content_container %}
        </div>
        <div class="ui text container" style="">
            {% block content_text_container %}
            {% endblock content_text_container %}
        </div>
        {% block content_basic %}
        {% endblock content_basic %}
        <div style="padding: 60px;"></div>
    </div>
    <script>
        $('#menu_icon').on('click', function () {
            $('.ui.sidebar').sidebar('setting','transition','overlay').sidebar('show');
        })
        $('#menu_account').on('click', function () {
            $('.ui.sidebar').sidebar('setting','transition','overlay').sidebar('hide');
        })
        $('#menu_warehouse').on('click', function () {
            $('.ui.sidebar').sidebar('setting','transition','overlay').sidebar('hide');
        })
        $('#menu_order').on('click', function () {
            $('.ui.sidebar').sidebar('setting','transition','overlay').sidebar('hide');
        })
        $('#menu_delivery').on('click', function () {
            $('.ui.sidebar').sidebar('setting','transition','overlay').sidebar('hide');
        })
    </script>
</body>
</html>