{% extends 'logistics/base.html' %}

{% block title %}
<title>首頁 | 聖品萱物流</title>
{% endblock title %}

{% block navi %}
<div class="ui grid">
    <div class="four wide left aligned column">

    </div>
    <div class="eight wide center aligned column">
        <h1>聖品萱物流管理系統</h1>
    </div>
    <div class="four wide right aligned column">
        <i class="big bars icon"></i>
    </div>
</div>
{% endblock navi %}


{% block content_container %}
<h1>Welcome: XXXXX</h1>
{% endblock content_container %}