{% extends 'logistics/base.html' %}

{% block title %}
<title>訂單管理 | 聖品萱物流</title>
{% endblock title %}

{% block navi %}
{% endblock navi %}

{% block header %}
<h1>訂單管理</h1>
{% endblock header %}

{% block content_text_container %}
{% load static %}
<div class="ui placeholder center aligned segment">
    <h2 class="ui centered header">
        此頁尚在開發
    </h2>
    <h3>zzz...</h3>
    <img src="{% static 'logistics/img/kanata.png' %}" class="ui medium centered image">
</div>

{% endblock content_text_container %}