{% extends 'logistics/base.html' %}

{% block title %}
<title>倉庫管理 | 聖品萱物流</title>
{% endblock title %}

{% block avatar %}
{% load static %}
<img class="ui avatar image" src="{% static 'logistics/img/demo_account_img.jpg' %}">
<span>A certain name</span>
{% endblock avatar %}

{% block navi %}
{% endblock navi %}

{% block header %}
<h1>倉庫管理</h1>
{% endblock header %}

{% block content_text_container %}
{% load static %}
<div class="ui placeholder center aligned segment">
    <h2 class="ui centered header">
        此頁尚在開發
    </h2>
    <h3>zzz...</h3>
    <img src="{% static 'logistics/img/kanata.png' %}" class="ui medium centered image">
</div>

{% endblock content_text_container %}