.bot.about.header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(27,9,56,1) 0%, rgba(27,9,56,1) 10%, rgba(27,9,56,0.8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.bot.about.site_title {
    height: 8rem;
}
.bot.about.site_subtitle {
    font-size: 2rem;
    text-align: center;
}

.bot.about.feature.section {
    min-height: 32rem;
}

.bot.about.feature.title {
    font-weight: bold;
    font-size: 3rem;
}
.bot.about.feature.description {
    font-size: 1.5rem;
}

.bot.about.footer {
    background-color: rgb(27, 9, 56);
    color: white;
    text-align: center;
    padding: 5rem 1rem;
    min-height: 100vh;
    position: relative;
}
.bot.about.footer_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    color: lightgray;
    padding: 1rem 0.5rem;
}

.bot.about.twitter_link_group {
    margin: 5rem 0;
}
.bot.about.twitter_link {
    text-decoration: none;
    color: white;
    display: block;
    transition: transform ease 0.5s;
}
.bot.about.twitter_link:hover {
    transform: scale(1.2);
}

.bot.about.navi_menu {
    transition: all ease 0.5s;
    position: fixed;
    top: 0;
    left: 0;
}
.bot.about.navi_menu.show {
    background-color: white;
    box-shadow: 0 0 5px lightgray;
}

.bot.about.image_slider {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}
.bot.about.image_slider img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: z-index ease 0.5s, opacity ease 0.5s;
    width: 100%;
}
.bot.about.image_slider img.vanish {
    opacity: 0;
}