{% extends 'logistics/base.html' %}

{% block title %}
<title>訂單管理 | 聖品萱物流</title>
{% endblock title %}

{% block avatar %}
{% load static %}
<img class="ui avatar image" src="{% static 'logistics/img/demo_account_img.jpg' %}">
<span>A certain name</span>
{% endblock avatar %}

{% block navi %}
<form action="" method="post" class="ui form">
    {% csrf_token %}
    <input type="submit" name="new_order" value="新增訂單" class="ui positive big circular button">
</form>
{% endblock navi %}



{% block header %}
<h1>訂單管理</h1>
{% endblock header %}

{% block content_container %}
<div class="ui text menu">
    <div class="active item">全部</div>
    <div class="item">未寄送</div>
    <div class="item">寄送中</div>
</div>



<div class="ui top attached header">
    Amazon | 訂單編號249-0236645-7893047
</div>
<div class="ui attached segment">
    <div class="ui grid">

        <!--PC only-->
        <div class="middle aligned computer tablet only row">
            <div class="two wide column">
                <h4>編號</h4>
            </div>
            <div class="four wide column">
                <h4>品項</h4>
            </div>
            <div class="two wide column">
                <h4>數量</h4>
            </div>
            <div class="two wide column">
                <h4>金額</h4>
            </div>
            <div class="four wide column">
                <h4>委託人</h4>
            </div>
            <div class="two wide column">
                <h4>狀態</h4>
            </div>
        </div>
        <div class="middle aligned computer tablet only row">
            <div class="two wide column">1</div>
            <div class="four wide column">織織織織織織織織織</div>
            <div class="two wide column">2</div>
            <div class="two wide column">1500</div>
            <div class="four wide column">
                <img class="ui avatar image" src="{% static 'logistics/img/demo_account_img.jpg' %}">
                <span>A contractor</span>
            </div>
            <div class="two wide column">未結清</div>
        </div>
        <div class="middle aligned computer tablet only row">
            <div class="two wide column">2</div>
            <div class="four wide column">雞寫真</div>
            <div class="two wide column">1</div>
            <div class="two wide column">1200</div>
            <div class="four wide column">
                <img class="ui avatar image" src="{% static 'logistics/img/demo_account_img.jpg' %}">
                <span>A contractor</span>
            </div>
            <div class="two wide column">未結清</div>
        </div>

        <!--mobile only-->
        <div class="middle aligned mobile only row">
            <div class="four wide column">
                <h4>編號</h4>
            </div>
            <div class="twelve wide column">
                <h4>內容</h4>
            </div>
        </div>
        <div class="middle aligned mobile only row">
            <div class="four wide column">1</div>
            <div class="twelve wide column">
                <b>織織織織織織織織織</b><br>
                數量: 2<br>
                金額: 1500<br>
                委託人:<br>
                <img class="ui avatar image" src="{% static 'logistics/img/demo_account_img.jpg' %}">
                A contractor
                狀態: 未結清
            </div>
        </div>
        <div class="middle aligned mobile only row">
            <div class="four wide column">2</div>
            <div class="twelve wide column">
                <b>雞寫真</b><br>
                數量: 1<br>
                金額: 1200<br>
                委託人:<br>
                <img class="ui avatar image" src="{% static 'logistics/img/demo_account_img.jpg' %}">
                A contractor
                狀態: 未結清
            </div>
        </div>
        <div class="ui divider"></div>

        <!--PC only-->
        <div class="middle aligned computer tablet only row">
            <div class="eight wide right aligned column">小計(已結清)</div>
            <div class="six wide column">0</div>
            <div class="two wide column"></div>
        </div>
        <div class="middle aligned computer tablet only row">
            <div class="eight wide right aligned column">小計(未結清)</div>
            <div class="six wide column">2700</div>
            <div class="two wide column"></div>
        </div>

        <!--mobile only-->
        <div class="middle aligned mobile only row">
            <div class="four wide column">小計</div>
            <div class="twelve wide column">
                已結清: 0 <br>
                未結清: 2700
            </div>
        </div>
    </div>
</div>

<div class="ui bottom attached secondary right aligned segment">
    <button class="ui labeled icon button">
        <i class="edit icon"></i>
        編輯
    </button>
    <button class="ui primary labeled icon button">
        <i class="warehouse icon"></i>
        已到貨
    </button>
    
</div>

{% endblock content_container %}